<!DOCTYPE html>

<html lang="en">
	<head>

		<title><%= blog.title %> - craviox Blog</title>

		<meta charset="utf-8">
		<meta name="description" content="Explore the latest <%= blog.title %> with craviox's insightful blog post. Stay informed about the latest technologies and practices in web development.">
		<meta name="keywords" content="web design agency, web development agency, website design agency, website development agency, web designing agency, web development company, web design agency india, web design company india, web developer agency, website making agency, website design and development agency, creative website development company" />  
	<link rel="canonical" href="https://craviox.com/" />
		<meta name="author" content="craviox.com">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<%- include('head.ejs') %>
		<link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">
		<link rel="stylesheet" href="http://cdn.quilljs.com/1.3.6/quill.snow.css"/>
	<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
	</head>

	
	<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">


		<main id="body-inner">

			<div id="page-transition">
				<div class="ptr-overlay"></div>
				<div class="ptr-preloader">
					<div class="ptr-prel-content">
					  <% if (settings && settings.length > 0) { %>
						<% settings.forEach(setting => { %>
						  <% if (setting.loader) { %>
							<img src="../../logo_dark.png" class="ptr-prel-image tt-logo-light" alt="Logo">
						  <% } %>
						<% }) %>
					  <% } else { %>
						<img src="../../logo_dark.png" class="ptr-prel-image tt-logo-light" alt="Logo">
					  <% } %>
					</div>
				  </div>
			</div>
			<div id="magic-cursor">
				<div id="ball"></div>
			</div>
			
			<div id="scroll-container"> 
				
				<%- include('header.ejs') %>

				<div id="content-wrap">

					<div id="page-header" class="ph-cap-sm ph-bg-image ph-ghost-scroll ph-image-cover-6 ph-content-parallax">
						<div class="page-header-inner tt-wrap">

							<div class="ph-image">
								<div class="ph-image-inner">
									<img src="<%= blog.coverImage %>" alt="<%= blog.covermage %>">
								</div>
							</div>
							
							
							<div class="ph-caption max-width-1000">
								<div class="ph-categories ph-appear">
									<a href="blog-archive.html" class="ph-category"><%= blog.category %></a>
								</div>
								<h1 class="ph-caption-title">
									<div class="ph-appear"><%= blog.title %></div>
								</h1>
								<div class="ph-caption-title-ghost">
									<div class="ph-appear">Blog</div>
								</div>
								<div class="ph-meta">
									<div class="ph-appear">
										<span class="ph-meta-published"><% function timeAgo(dateString) {
											const date = new Date(dateString);
											const now = new Date();
											const seconds = Math.floor((now - date) / 1000);
										
											let interval = Math.floor(seconds / 31536000);
										
											if (interval >= 1) {
												return interval + " years ago";
											}
											interval = Math.floor(seconds / 2592000);
											if (interval >= 1) {
												return interval + " months ago";
											}
											interval = Math.floor(seconds / 86400);
											if (interval >= 1) {
												return interval + " days ago";
											}
											interval = Math.floor(seconds / 3600);
											if (interval >= 1) {
												return interval + " hours ago";
											}
											interval = Math.floor(seconds / 60);
											if (interval >= 1) {
												return interval + " minutes ago";
											}
											return Math.floor(seconds) + " seconds ago";
										} %>
										
										<%= timeAgo(blog.created_at) %>
										</span>
										<span class="ph-meta-posted-by">by: <a href="blog-archive.html" title="View all posts by Innovative Pixel Studio">Innovative Pixel Studio</a></span>
									</div>
								</div> 
							</div>

						</div> 
						<div class="tt-scroll-down">
							<a href="#page-content" class="tt-sd-inner ph-appear" data-offset="0">
								<div class="tt-sd-arrow">
									<div class="tt-sd-arrow-inner"></div>
								</div>
								<div class="tt-sd-text">Scroll</div>
							</a>
						</div>
						
						<div class="ph-share ph-appear">
							<div class="ph-share-inner">
								<div class="ph-share-trigger">
									<div class="ph-share-text">Share</div>
									<div class="ph-share-icon"><i class="fas fa-share"></i></div>
								</div> 

								<div class="social-buttons">
									<ul>
										<% contacts.forEach(contact => { %>
										  <% if (contact.facebook) { %>
											<li>
											  <a href="https://www.facebook.com/<%= contact.facebook %>" class="magnetic-item" title="Share on Facebook">
												<i class="fab fa-facebook-f"></i>
											  </a>
											</li>
										  <% } %>
									  
										  <% if (contact.twitter) { %>
											<li>
											  <a href="https://twitter.com<%= contact.twitter %>" class="magnetic-item" title="Share on Twitter">
												<i class="fab fa-twitter"></i>
											  </a>
											</li>
										  <% } %>
									  
										  <% if (contact.instagram) { %>
											<li>
											  <a href="https://instagram.com<%= contact.instagram %>" class="magnetic-item" title="Share on Instagram">
												<i class="fab fa-instagram"></i>
											  </a>
											</li>
										  <% } %>
										<% }) %>
									  </ul>
								</div> 
							</div> 
						</div>
						
					</div>
					
					
					<div id="page-content">


						<div class="tt-section">
							<div class="tt-section-inner tt-wrap max-width-1200">

								<article class="tt-blog-post lightgallery">

									<div id="contentContainer">
										
										<div class="ql-editor">
											<%- blog.content %>
										</div>
									</div>
									
									

								</article> 
								
								<div class="tt-blog-post-nav">
									<% if (prevBlogId) { %>
										<div class="tt-bp-nav-col tt-bp-nav-left">
											<div class="tt-bp-nav-text"><span><i class="fas fa-angle-left"></i></span><a href="/show_blog/<%= prevBlogId %>">Previous Post</a></div>
											<h4 class="tt-bp-nav-title"><a href="/show_blog/<%= prevBlogId %>"><%= prevBlogTitle %></a></h4>
										</div>
									<% } %>
									
									<% if (nextBlogId) { %>
										<div class="tt-bp-nav-col tt-bp-nav-right">
											<div class="tt-bp-nav-text"><a href="/show_blog/<%= nextBlogId %>">Next Post</<span><i class="fas fa-angle-right"></i></span></a></div>
											<h4 class="tt-bp-nav-title"><a href="/show_blog/<%= nextBlogId %>"><%= nextBlogTitle %></a></h4>
										</div>
									<% } %>
									
								</div>

	
  
  

								<div id="tt-blog-post-comments">

									<h4 class="tt-bpc-heading">"<%= comments.length %>" comments:</h4>
									<% if (comments.length === 0) { %>
										<p>No comments yet.</p>
									  <% } else { %>
										<ul class="tt-comments-list">
										  <% comments.forEach(comment => { %>
											<% if (comment.reviewed) { %>
											  <li class="tt-comment">
												<a href="#" class="tt-comment-avatar">
												  <img src="/assets/img/low-qlt-thumb.jpg" data-src="/assets/img/blog/avatar.png" class="tt-lazy" alt="image">
												</a>
												<div class="tt-comment-body">
												  <div class="tt-comment-meta">
													<h4 class="tt-comment-heading"><a href="#"><%= comment.name %></a></h4>
													<span class="tt-comment-time"><% function timeAgo(dateString) {
														const date = new Date(dateString);
														const now = new Date();
														const seconds = Math.floor((now - date) / 1000);
													
														let interval = Math.floor(seconds / 31536000);
													
														if (interval >= 1) {
															return interval + " years ago";
														}
														interval = Math.floor(seconds / 2592000);
														if (interval >= 1) {
															return interval + " months ago";
														}
														interval = Math.floor(seconds / 86400);
														if (interval >= 1) {
															return interval + " days ago";
														}
														interval = Math.floor(seconds / 3600);
														if (interval >= 1) {
															return interval + " hours ago";
														}
														interval = Math.floor(seconds / 60);
														if (interval >= 1) {
															return interval + " minutes ago";
														}
														return Math.floor(seconds) + " seconds ago";
													} %>
													
													<%= timeAgo(comment.created_at) %>
													</span>
												  </div>
												  <div class="tt-comment-text">
													<p><%= comment.comment %></p>
												  </div>
												  <ul class="tt-comments-list">
													<% if (comment.replies && comment.replies.length > 0) { %>
													  <% comment.replies.forEach(reply => { %>
													
														<li class="tt-comment">
														  <a href="#" class="tt-comment-avatar">
															<img src="/assets/img/low-qlt-thumb.jpg" data-src="/assets/img/blog/avatar.png" class="tt-lazy" alt="image">
														  </a>
														  <div class="tt-comment-body">
															<div class="tt-comment-meta">
															  <h4 class="tt-comment-heading"><a href="#">Innovative Pixel Studio</a></h4>
															  <span class="tt-comment-time"><% function timeAgo(dateString) {
																const date = new Date(dateString);
																const now = new Date();
																const seconds = Math.floor((now - date) / 1000);
															
																let interval = Math.floor(seconds / 31536000);
															
																if (interval >= 1) {
																	return interval + " years ago";
																}
																interval = Math.floor(seconds / 2592000);
																if (interval >= 1) {
																	return interval + " months ago";
																}
																interval = Math.floor(seconds / 86400);
																if (interval >= 1) {
																	return interval + " days ago";
																}
																interval = Math.floor(seconds / 3600);
																if (interval >= 1) {
																	return interval + " hours ago";
																}
																interval = Math.floor(seconds / 60);
																if (interval >= 1) {
																	return interval + " minutes ago";
																}
																return Math.floor(seconds) + " seconds ago";
															} %>
															
															<%= timeAgo(reply.created_at) %></span>
															</div>
															<div class="tt-comment-text">
															  <p><%= reply.reply %></p>
															</div>
														  </div>
														</li>
													  <% }) %>
													<% } %>
												  </ul>
												</div>
											  </li>
											<% } %>
										  <% }); %>
										</ul>
									  <% } %>
									
									
									<form id="tt-comment" class="tt-form-filled anim-fadeinup" method="post">
										<h4 class="tt-post-comment-form-heading">Leave a Comment:</h4>
										<div class="tt-row">
											<div class="tt-col-lg-6">

												<div class="tt-form-group">
													<label>Name <span class="required">*</span></label>
													<input class="tt-form-control" id="84990245" type="text" name="name" placeholder="" required>
												</div>

											</div> 

											<div class="tt-col-lg-6">

												<div class="tt-form-group">
													<label>Email address <span class="small text-gray">(Optional)</span></label>
													<input class="tt-form-control" id="19833520" type="email" name="email" placeholder="">
												</div>

											</div>
										</div> 
										
										<div class="tt-form-group">
											<label>Comment <span class="required">*</span></label>
											<textarea class="tt-form-control" id="30945381" rows="6" placeholder="" name="comment" required></textarea>
										</div>

										<small class="tt-form-text">Fields marked with an asterisk (*) are required!</small>



										<input type="text" name="blog_id" value="<%= blog.id %>" disabled hidden>
										
										
										<button type="submit" class="tt-btn tt-btn-primary margin-top-30">
											<div data-hover="Post Comment">Post Comment</div>
											<span class="tt-btn-icon"><i class="fas fa-paper-plane"></i></span>
										</button>

									</form>

									<div id="success-message" style="display: none; color: crimson; text-align: right;">
										<p>Comment posted successfully!</p>
									  </div>

								</div>



							</div> 
						</div>


						<div class="tt-section padding-bottom-xlg-150">
							<div class="tt-section-inner tt-wrap">

								
								<div class="tt-page-nav tt-pn-stroke">
									<a href="portfolio-grid-creative.html" class="tt-pn-link anim-fadeinup" data-cursor="<i class='fas fa-arrow-right'></i>">
										<div class="tt-pn-title">Portfolio</div>
										<div class="tt-pn-hover-title">Portfolio</div>
									</a> 
									<div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>
								</div>

							</div> 
						</div>


					</div>
					

					<%- include('footer.ejs') %>


				</div>

			</div>


		</main>

		<script>
			document.getElementById('tt-comment').addEventListener('submit', function(event) {
			  event.preventDefault();
			  const form = event.target;
			  const formData = new FormData(form);
			  const data = Object.fromEntries(formData);
			  console.log(data); // Log the form data
			
			  fetch('/comment', {
				method: 'POST',
				headers: {
				  'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			  })
			  .then(response => {
				if (response.ok) {
				  // Show the success message
				  document.getElementById('success-message').style.display = 'block';
				  // Reset the form
				  form.reset();
				} else {
				  // Handle error case
				  console.error('Error submitting form');
				}
			  })
			  .catch(error => {
				// Handle network or other errors
				console.error('Error submitting form:', error);
			  });
			});
			</script>
        

		<%- include('script.ejs') %>



	</body>

</html>